<li class="list-group-item">
  <p class="row">
		{{! Value of model.computedSalary is managed in controllers/employment.js}}
    <span class="col-sm-6">Yearly salary: </span><span class="col-sm-6">{{model.computedSalary}}</span>
  </p>
</li>